@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  display: grid;
  place-items: center;
  min-height: 100vh;
  transition: all .3s ease-out;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
}